@model MovieEvent.Domain.DomainModels.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>
        
        
        
       
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RANK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RANK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RANKCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RANKCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@using MovieEvent.Domain.DomainModels
@{
    var comments = ViewBag.Comments as List<UserMovieRating>;
}

<h2>@Model.Title</h2>
<p><strong>Average Rating:</strong> @ViewBag.AverageRating.ToString("0.00")</p>

<h3>Comments:</h3>

@if (comments != null && comments.Count > 0)
{
    <ul>
        @foreach (var item in comments)
        {
            <li>
                <strong>@item.User?.FirstName </strong>:
                @item.MovieRating?.Rating/10 - @item.MovieRating?.Comment
            </li>
        }
    </ul>
}
else
{
    <p>No comments yet.</p>
}

<a asp-action="Rate" asp-route-id="@Model.Id" class="btn btn-primary">Rate this movie</a>
